<h2>Изменение сотрудника</h2>
<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label" for="first_name">Имя:</label>
    <input type="text" class="form-control" id="first_name" data-ng-model="person.first_name">
  </div>
  
  <div class="form-group">
    <label class="control-label" for="last_name">Фамилия:</label>
    <input type="text" class="form-control" id="last_name" data-ng-model="person.last_name">
  </div>

  <div class="form-group">
    <label class="control-label" for="email">Email:</label>
    <input type="text" class="form-control" id="email" data-ng-model="person.email">
  </div>
  
  <div class="form-group">
    <label class="control-label" for="mobile">Мобильный телефон:</label>
    <input type="text" class="form-control" id="mobile" data-ng-model="person.mobile">
  </div>  

  <div class="form-group">
    <label class="control-label" for="ext_tel">Внутренний телефон:</label>
    <input type="text" class="form-control" id="ext_tel" data-ng-model="person.ext_tel">
  </div> 

  <div class="form-group">
    <label class="control-label" for="position">Должность:</label>
    <input type="text" class="form-control" id="position" data-ng-model="person.position">
  </div>
  
</form>

<button type="button" class="btn btn-success btn-sm" data-ng-click="editPerson(person)">
	Сохранить
</button>

<button type="button" data-ng-click="cancel()" class="btn btn-outline-secondary btn-sm">
	Отмена
</button>
